@charset "UTF-8";
@font-face {
  font-family: "Conv_Lavanderia_Sturdy";
  src: url("fonts/Lavanderia_Sturdy.eot");
  src: local("☺"), url("fonts/Lavanderia_Sturdy.woff") format("woff"), url("fonts/Lavanderia_Sturdy.ttf") format("truetype"), url("fonts/Lavanderia_Sturdy.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_MyriadPro-Regular";
  src: url("fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("fonts/MyriadPro-Regular.woff") format("woff"), url("fonts/MyriadPro-Regular.ttf") format("truetype"), url("fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_MyriadPro-BoldCond";
  src: url("fonts/MyriadPro-BoldCond.eot");
  src: local("☺"), url("fonts/MyriadPro-BoldCond.woff") format("woff"), url("fonts/MyriadPro-BoldCond.ttf") format("truetype"), url("fonts/MyriadPro-BoldCond.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1024px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header_backgraund {
  height: 588px;
  width: 100%;
  background: url(img/flower.png);
  background-size: cover;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header_list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header_list li {
  list-style: none;
  margin: 0px 0px 0px 40px;
}

a {
  text-decoration: none;
  color: #827f7e;
  font-size: 18px;
}

.login:last-child {
  border-radius: 2px;
  padding: 5px 15px 5px 15px;
  background-color: #de6d6e;
  color: #ffffff;
}
.login:last-child::before {
  content: url(img/man.png);
  padding-right: 10px;
}

.content {
  padding-top: 187px;
}

.header_burger {
  display: none;
}

.headerbackground {
  height: 588px;
  width: auto;
  background: url(img/flawer.jpg) no-repeat;
  background-size: 500px;
}

.main_title {
  padding-top: 414px;
}
.main_title h1 {
  text-align: center;
  font-family: "Conv_MyriadPro-Regular";
  font-size: 68px;
  color: #ffff;
}
.main_title p {
  text-align: center;
  font-family: "Conv_MyriadPro-Regular";
  font-size: 28px;
  color: #ffffff;
}

.text_content h1 {
  text-align: center;
  color: #404040;
  font-family: "Conv_MyriadPro-Regular";
  margin-top: 68px;
  margin-bottom: 28px;
}
.text_content p {
  text-align: center;
  color: #404040;
  width: 804px;
  margin: 0 auto;
  font-family: "Conv_MyriadPro-Regular";
}

.header__logo {
  font-size: 40px;
  z-index: 2;
  font-family: "Conv_Lavanderia_Sturdy";
  color: #000000;
  text-transform: none;
}
.header__logo span {
  color: #bb4b65;
}

.big_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 90px;
  width: 100%;
}
.big_box .box_1 {
  width: 180px;
  height: 180px;
  background: url(img/Ticket.jpg) no-repeat;
  margin: 0 10px 0 10px;
}
.big_box .box_2 {
  width: 180px;
  height: 180px;
  background: url(img/camera.jpg) no-repeat;
  margin: 0 10px 0 10px;
}
.big_box .box_3 {
  width: 180px;
  height: 180px;
  background: url(img/Bear.jpg) no-repeat;
  margin: 0 10px 0 10px;
}
.big_box .box_4 {
  width: 180px;
  height: 180px;
  background: url(img/ipad.jpg) no-repeat;
}
.big_box p {
  text-align: center;
  margin-top: 130px;
  font-family: "Conv_MyriadPro-Regular";
  color: #ffffff;
}

.film_content {
  display: flex;
  margin-top: 100px;
}
.film_content h3 {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 5px;
  font-family: "Conv_MyriadPro-Regular";
}
.film_content p {
  font-family: "Conv_MyriadPro-Regular";
  margin-left: 30px;
}

.footer {
  height: 100%;
  background: #2c2429;
  margin-top: 80px;
  display: flex;
}
.footer h3 {
  display: block;
  color: #aeaeae;
  font-family: "Conv_MyriadPro-Regular";
  padding-top: 30px;
  margin-bottom: 20px;
  font-size: 20spx;
}

.footer_menu li {
  list-style: none;
  color: #aeaeae;
  font-family: "Conv_MyriadPro-Regular";
}

.footer_menu {
  margin-right: 112px;
}

.footer_flex {
  display: flex;
}

.social_networks {
  margin-top: 55px;
  width: 274px;
}

.social_text p {
  color: #aeaeae;
  margin-top: 30px;
  font-family: "Conv_MyriadPro-Regular";
  font-size: 15px;
  width: 274px;
}

body {
  position: relative;
}

.button {
  border-radius: 2px;
  padding: 5px 15px 5px 15px;
  background-color: #de6d6e;
  color: #ffffff;
  cursor: pointer;
}

.login:last-child {
  border-radius: 2px;
  padding: 5px 15px 5px 15px;
  background-color: #de6d6e;
  color: #ffffff;
}

.login:last-child::before {
  content: url(img/man.png);
  padding-right: 10px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.popup {
  position: absolute;
  width: 370px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-sizing: border-box;
  background-color: #ff5252;
  color: #fff;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: "";
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: "";
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}

.box input[type=text], .box input[type=password] {
  width: 180px;
  border: 2px solid #bb4b65;
  background: white;
  text-align: center;
  color: black;
  margin: 0px auto;
  display: block;
  padding: 14px 10px;
  outline: none;
  border-radius: 20px;
  transition: 0.3s;
}
.box input[type=text]:focus, .box input[type=password]:focus {
  width: 200px;
}

.box h1 {
  text-align: center;
  padding-bottom: 30px;
}

input[type=submit] {
  padding: 10px;
  margin: 0 auto;
  width: 100px;
  display: block;
  border-radius: 20px;
  outline: none;
  border: 2px solid #bb4b65;
}

@media screen and (max-width: 1168px) {
  .footer_flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 72%;
  }

  .social_networks {
    margin-top: 55px;
    width: 274px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .footer_menu {
    margin-right: 15px;
    margin: 0 auto;
    padding-right: 10px;
  }
}
@media screen and (max-width: 991px) {
  .text_content p {
    text-align: center;
    color: #404040;
    width: 599px;
    margin: 0 auto;
    font-family: "Conv_MyriadPro-Regular";
  }

  .social_networks {
    margin-top: 55px;
    width: 274px;
    margin: 0 auto;
    margin-top: 33px;
  }
}
@media screen and (max-width: 817px) {
  .box_4 {
    width: 180px;
    height: 180px;
    background: url(img/ipad.jpg) no-repeat;
    margin-top: 10px;
  }
}
@media screen and (max-width: 715px) {
  .header_body {
    height: 50px;
  }

  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header_burger span {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 2px;
    top: 44%;
    transition: 0.3s;
  }

  .header_burger::before,
.header_burger::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.3s;
  }

  .header_burger::before {
    top: 0;
  }

  .header_burger::after {
    bottom: 0;
  }

  .header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_burger.active span {
    display: none;
  }

  .header_menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    padding-top: 70px;
    top: -120%;
  }

  .header_menu.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    padding-top: 70px;
    top: 0%;
    transition: 0.3s;
  }

  .header_list {
    display: inline-block;
  }

  .header_list li {
    margin-bottom: 20px;
  }

  body.lock {
    overflow: hidden;
  }

  .header__logo {
    font-size: 32px;
    z-index: 2;
    font-family: "Conv_Lavanderia_Sturdy";
    color: #000000;
    text-transform: none;
  }

  .film_content {
    display: block;
    margin-top: 100px;
  }
  .film_content img {
    float: left;
    margin: 0 10px 0px 0;
  }

  .film_content p {
    font-family: "Conv_MyriadPro-Regular";
    margin-left: 0px;
  }
}
@media screen and (max-width: 626px) {
  .header_backgraund {
    height: 350px;
    width: 100%;
    background: url(img/flower.png);
    background-size: cover;
}
  .main_title {
    padding-top: 115px;
}

  .main_title h1 {
    text-align: center;
    font-family: "Conv_MyriadPro-Regular";
    font-size: 52px;
    color: #ffffff;
  }

  .main_title p {
    text-align: center;
    font-family: "Conv_MyriadPro-Regular";
    font-size: 24px;
    color: #ffffff;
  }

  .text_content p {
    text-align: center;
    color: #404040;
    width: 316px;
    margin: 0 auto;
    font-family: "Conv_MyriadPro-Regular";
  }

  .box_4 {
    width: 180px;
    height: 180px;
    background: url(img/ipad.jpg) no-repeat;
    margin: 10px 10px 0 10px;
  }

  .big_box .box_2 {
    width: 180px;
    height: 180px;
    background: url(img/camera.jpg) no-repeat;
    margin: 10px 10px 0 10px;
  }

  .big_box .box_3 {
    width: 180px;
    height: 180px;
    background: url(img/Bear.jpg) no-repeat;
    margin: 10px 10px 0 10px;
  }
}
@media screen and (max-width: 438px) {
  .text_content p {
    text-align: center;
    color: #404040;
    width: 278px;
    margin: 0 auto;
    font-family: "Conv_MyriadPro-Regular";
  }

  .text_content h1 {
    text-align: center;
    color: #404040;
    font-family: "Conv_MyriadPro-Regular";
    margin-top: 36px;
    margin-bottom: 18px;
    font-size: 23px;
  }

  .big_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 39px;
    width: 200px;
  }

  .film_content img {
    float: left;
    margin: 0 10px 0px 0;
    width: 145px;
  }
}
